/* imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* GLOBAL */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    line-height: 18px;
    height: 100%;
    color: white;
   	background-color: white;
   	margin: 0 0 100px;
   	/* background-image: url ("/img/slide1.png"); */ 
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

p {
	margin: 0;
}

/* header */

#header_container {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 70px;
	z-index: 800;
	background-color: black;

}

#header {
	margin: 0 auto;
}

#header .zippo-signin {
	display: inline-block;
	margin-top: 10px;
	margin-right: 25px;
	width: 250px;
}

#header .zippo_input {
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

/* Enter button */

.enter_button {
	float: right;
	margin-right: 25px;
	background: url('img/enter_1.png') bottom;
}

.enter_button:hover {
	background: url('img/enter_2.png');
}

.enter_button:active {
	background: url('img/enter_3.png');
}

/* body container */
.body_container {

}

/* home */

.main-bg {
	background: #000 ;
}

.main-bg .bg_image {
	width: 100%;
	height: auto;

	background-repeat: no-repeat;
	background-position: center 29px;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-size: auto, cover;
}
/* overlay */

.black-overlay {
	position: absolute;
	width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    z-index: 9000;
    vertical-align: middle;
    display: none;
}

.overlay-content {
	position: absolute;
	z-index: 9999;
	text-align: center;
	height: 50%;
	width: 50%;
}

/* footer */

#footer_container {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 70px;
	z-index: 800;
	background-color: black;

}

#footer {
	margin: 0 auto;
}

#footer_nav {
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

#footer_nav .about {
	font-size: 18px; 
	display: inline-block;
	float: left;
	margin-left: 25px;
	margin-right: 20px;
}

#footer_nav .zippo_web {
	font-size: 18px; 
	display: inline-block;
	float: left;
	margin-left: 15px;
	margin-right: 25px;
}

#footer_nav .social_share {
	font-size: 18px; 
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;

}

/* About button */

.about_button {
	width: 100%;
	background: url('img/about_1.png') bottom;
}

.about_button:hover {
	display: block;
	background: url('img/about_2.png');
}

.about_button:active {
	display: block;
	background: url('img/about_3.png');
}

/* Zippo button */

.zippo_button {
	width: 100%;
	background: url('img/zippo_1.png') bottom;
}

.zippo_button:hover {
	display: block;
	background: url('img/zippo_2.png');
}

.zippo_button:active {
	display: block;
	background: url('img/zippo_3.png');
}

/* Share button */

.share_button {
	width: 100%;
	background: url('img/share_1.png') bottom;
}

.share_button:hover {
	display: block;
	background: url('img/share_2.png');
}

.share_button:active {
	display: block;
	background: url('img/share_3.png');
}
